body{
    background-color: rgb(255, 127, 202) ;
    }
    
   
     h1{
    color:rgb(0, 0, 0) ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background:    (109, 15, 38)), 0.959)109, 15, 31) ;
    }
    p{
    color:rgb(0, 0, 0) ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 40px;
    background: rgb(9, 219, 202)191);
    }
